<section class="sheet" *ngFor="let items of printItems">
  <div class="container">
    <div class="row">
      <div class="col-4 item" *ngFor="let item of items">
        <div class="title">{{item.title}}</div>
        <div class="category">{{item.category}}</div>

        <hr>

        <div>
          <span class="price-label badge badge-danger">価格</span>
          <span class="price">￥{{item.price}}</span>
        </div>
        <div class="message">{{item.message}}</div>
        <div class="management-no">{{item.managementNo}}</div>
      </div>
    </div>
  </div>
</section>
