@page {
    size: A4;
    margin: 0;
}

body {
    background-color: #cccccc;
}

.sheet {
    width: 210mm;
    min-height: 240mm;
    page-break-after: always;
}

.sheet hr {
    margin-top: 1px;
    margin-bottom: 1px;
}

.sheet .item {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 2px;
}

.sheet .title {
    font-size: 20px;
}

.sheet .category {
    font-size: 20px;
}

.sheet .price-label {
    font-size: 25px;
}

.sheet .price {
    font-size: 40px;
}

.sheet .message {
    font-size: 15px;
}

.sheet .management-no {
    font-size: 10px;
}

@media screen {
    body {
        background: #eee;
    }
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm;
    }
}
