<p>
  top works!
</p>

<button class="btn btn-lg btn-outline-primary" (click)="openYesNoDialog()">YesNo</button>
<button class="btn btn-lg btn-outline-primary" (click)="openOkCancelDialog()">OkCancel</button>
<button class="btn btn-lg btn-outline-primary" (click)="openCloseDialog()">Close</button>
<pre>{{closeResult}}</pre>
<button type="button" class="btn btn-default" (click)="logout()">ログアウト</button>