<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" *ngIf="crossVisible" (click)="activeModal.dismiss('cross')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p *ngFor="let body of bodies">{{body}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" *ngIf="yesVisible" (click)="activeModal.close('yes')">はい</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="noVisible" (click)="activeModal.close('no')">いいえ</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="okVisible" (click)="activeModal.close('ok')">OK</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="cancelVisible" (click)="activeModal.close('cancel')">キャンセル</button>
  <button type="button" class="btn btn-outline-dark" *ngIf="closeVisible" (click)="activeModal.close('close')">閉じる</button>
</div>
