<div>
  <h2>ログイン画面</h2>
  <p class="alert alert-danger" *ngIf="errorMessage!=null">エラー: {{errorMessage}}</p>
  <div class="form-group form-inline">
    <input class="form-control mr-2" type="text" placeholder="ユーザー名" #username>
    <input class="form-control mr-2" type="password" placeholder="パスワード" #password>
    <button class="btn btn-primary" (click)="onLogin(username.value, password.value)">ログイン</button>
  </div>
</div>
